<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjb.mapper.OfferMapper" >
  <resultMap id="BaseResultMap" type="com.wjb.model.Offer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="country_id" property="countryId" jdbcType="INTEGER" />
    <result column="unit" property="unit" jdbcType="DECIMAL" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, country_id, unit, price, type, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_offer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_offer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wjb.model.Offer" >
    insert into t_offer (id, country_id, unit, 
      price, type, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{countryId,jdbcType=INTEGER}, #{unit,jdbcType=DECIMAL}, 
      #{price,jdbcType=DECIMAL}, #{type,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wjb.model.Offer" >
    insert into t_offer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="countryId != null" >
        country_id,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="countryId != null" >
        #{countryId,jdbcType=INTEGER},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wjb.model.Offer" >
    update t_offer
    <set >
      <if test="countryId != null" >
        country_id = #{countryId,jdbcType=INTEGER},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wjb.model.Offer" >
    update t_offer
    set country_id = #{countryId,jdbcType=INTEGER},
      unit = #{unit,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      type = #{type,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>




  <!--SELECT tc.name,tc.symbol,tf.*-->
  <!--FROM t_country tc,t_offer tf-->
  <!--WHERE tf.country_id = tc.id and type = 0-->
  <!--<if test="startDate != null and endDate != null">-->
  <!--AND tf.create_time between #{startDate} and #{endDate}-->
  <!--</if>-->

  <select id="list" resultMap="BaseResultMap">
    SELECT * from t_offer
  </select>

  <resultMap id="offers" type="com.wjb.model.Offer">
    <id column="id" property="id"/>
    <result column="country_id" property="countryId" jdbcType="INTEGER" />
    <result column="unit" property="unit" jdbcType="DECIMAL" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="name" property="name"/>
    <result column="symbol" property="symbol"/>
  </resultMap>
  
  <select id="getOffer" resultMap="offers">
    SELECT tc.name,tc.symbol,tf.* FROM t_country tc,t_offer tf
    WHERE tf.country_id = tc.id and type = 0
  </select>



</mapper>